#define SECRET_SSID "wifi_ssid"
#define SECRET_PASS "wifi_password"

#define MACRO_COUNT 3
const Macro macros[] = {
  { "normal", "password" },
  { "admin", "super_password" },
  { "multiline", "two\tlines\n" }
};
